{% extends "core/plantilla.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href={% static "css/hojaJp.css" %}>
{% endblock %}

{% block contenido %}
<main>
    <section class="detalle">
        <h2 style="text-align: center;">Postulaciones</h2>
        <h4 style="text-align: center; color: red;">Tienes {{cantidad}} postulaciones</h4>
        {% for x in postulaciones %}
        <div class="contenedor-1">
            <p style="color: red;">{{mensajeUpdate}}</p>
            <table class="container-fluid table table-dark">
                <thead style="text-align: center;">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Foto</th>
                        <th>CV</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>

                <tbody style="text-align: center;">
                    <tr>
                        <td>{{ x.id }}</td>
                        <td>{{ x.nombre }}</td>
                        <td>{{ x.correo }}</td>
                        <td><img width="80px" height="80px" src="{{ x.imagen.url }}" alt=""></td>
                        <td>
                            <a href="{{ x.cv.url }}" target="_blank" rel="noopener noreferrer">Ver CV</a>
                        </td>

                        {% if x.estado == "PENDIENTE" %}
                        <td><span class="badge bg-warning text-dark">Pendiente</span></td>
                        {% endif %}

                        <td>
                            <a href="" style=" margin-top: 10px; width: 110px;" class="btn btn-info btn-aprobar"
                                data-id="{{ x.id }}">Aceptar</a>
                            <a style="margin-top: 10px; width: 110px;" class="btn btn-danger btn-rechazar"
                                data-id="{{ x.id }}">Rechazar</a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
    </section>
</main>


{% endblock %}


{% block js %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src={% static "js/administracionPostulacion.js" %}></script>
{% endblock %}