{% extends 'core/plantilla.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" href={% static "css/hojaJp.css" %}>
    <link rel="stylesheet" href={% static "dist/css/lightbox.min.css" %}>
{% endblock %}

{% block contenido %}
  <section class="detalle">
    <div class="contenedor-1">
        <form action="{% url 'ATENCION' %}" enctype="multipart/form-data" method="POST" onsubmit="return valida()"> 
        {% csrf_token %}
          <div class="diagnostico-campo">
              <h1>Detalles de los trabajos realizados</h1>
          </div>

          <select class="col-100" style="width: 100%;" name = "cboCategoria" id="cboCategoria">
            {% for x in categorias %}
              <option value = "{{x.categoria}}" >{{x.categoria}}</option>
            {% endfor %}     
          </select>

          <label for="diagnostico "> Diagnóstico :</label>
          <input id = "txtDiagnostico" name = "txtDiagnostico" class="diagnos-tico hancho-1" type="text" placeholder="Ingrese el diagnostico de su atencion" required minlength="10" maxlength="100">

          <label for="fecha "> Fecha :</label>
          <input id = "txtFecha" name = "txtFecha" class = "diseno-fecha" type="date" name="fecha-atencion" id="fecha-atencion" required >
         
          <label for="materiales "> Materiales Utilizados :</label>
          <input id = "txtMateriales" name = "txtMateriales" class="text-area" type="text" placeholder="ingrese los materiales que utilizo" required minlength="20">

          <input id="txtImagen" name="txtImagen" class="col-100" type="file">

          <div class="btn-subir">
            <input class="boton-subir" type="submit" value="Subir Atencion">
          </div>
          {{mensaje}}
        </form>

      </div>
  </section>
{% endblock %}