

{% extends 'core/plantilla.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block contenido %}

 <main>
      <section class="sec-trabajos">
          <div class="sec-trabajos-titulo">
              <div>
                <h3>Nuestros últimos trabajos</h3>
              </div>
          </div>
          <div class="background-trabajos">
              <img src= {% static "img/auto.png" %} alt="">
          </div>
          <div class="slide-trabajos-carrusel">
              <div class="slide-trabajos">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src= {% static "img/banner-carrusel.png" %} class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>Taller Mecánico Rayo Makween</h5>
                            </div>
                        </div>

                    {% for x in atenciones %}
                        <div class="carousel-item">
                            <a href={% url 'FICHA' x.id %}>
                                <img src= {{ x.imagen.url }} class="d-block w-100" alt= {{ x.id_atencion.categoria }}>
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                            <h5>{{ x.id_atencion.categoria }} realizado por {{ x.trabajador }}</h5>
                            <p>{{ x.fecha }}</p>
                        </div>
                    
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    {% endfor %}
                    </div>
                    </div>
                </div>
              </div>
          </div>
      </section>
  </main>
{% endblock%}

{% block js %}

{% endblock js%}
